menuentry "bubblesOS" {
    multiboot /boot/bubblesos.bin
    boot
}

menuentry "PysOS" {
    multiboot /boot/pysos.bin
    boot
}

menuentry "PolyglotOS (Integrated)" {
    multiboot /boot/polyglot.bin
    boot
}